/* Fonts */
/*
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');
*/

/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
@layer base {
  :root {
    /* Colors */
    --color-white: hsl(0, 0%, 100%);
    --color-black: hsl(30, 7%, 11%);
    --color-nuetral: hsl(210, 9%, 87%);
    /* Salmon */
    --color-salmon: hsl(0, 57%, 60%);
    /* Melon */
    --color-melon: hsl(0, 90%, 72%);
    --color-melon-dark: hsl(10, 90%, 62%);
    --color-melon-light: hsl(10, 90%, 82%);
    /* Baby Pink */
    --color-baby-pink: hsl(11, 80%, 95%);
    --color-baby-pink-dark: hsl(11, 80%, 80%);
    --color-baby-pink-light: hsl(11, 80%, 98%);
    /* Rose */
    --color-rose: hsl(347, 58%, 46%);
    --color-rose-dark: hsl(347, 58%, 31%);
    --color-rose-light: hsl(347, 58%, 61%);
    /* Tropical Indigo */
    --color-tropical-indigo: hsl(261, 100%, 75%);
    --color-tropical-indigo-dark: hsl(261, 100%, 69%);
    --color-tropical-indigo-light: hsl(261, 100%, 89%);
    /* Charcoal Blue */
    --color-charcoal-blue: hsl(225, 28%, 17%);
    --color-charcoal-blue-dark: hsl(225, 25%, 10%);
    --color-charcoal-blue-light: hsl(225, 28%, 33%);
    /* Baby Blue */
    --color-baby-blue: hsl(200, 40%, 72%);
    /* Tree Bark */
    --color-tree-bark: hsl(11, 10%, 21%);

    /* Variants */
    --color-primary: hsl(225, 28%, 23%);
    --color-primary-hover: hsl(0, 57%, 60%);
    --color-secondary: var(--color-rose);
    --color-secondary-hover: hsl(347, 58%, 51%);
    --color-primary-dark: var(--color-tropical-indigo);
    --color-primary-dark-hover: hsl(261, 50%, 40%);
    --color-secondary-dark: hsl(14, 69%, 54%);
    --color-secondary-dark-hover: hsl(14, 69%, 44%);
    --color-ghost: hsla(0, 65%, 90%, 0.65);
    --color-ghost-hover: var(--color-rose);
    --color-ghost-dark: hsla(225, 35%, 33%, 0.6);
    --color-ghost-dark-hover: hsl(225, 28%, 43%);

    /* States */
    --color-success: hsl(160, 84%, 39%);
    --color-success-hover: hsl(160, 84%, 29%);
    --color-warning: hsl(45, 100%, 50%);
    --color-warning-hover: hsl(45, 100%, 40%);
    --color-destructive: hsl(354, 69%, 50%);
    --color-destructive-hover: hsl(354, 69%, 45%);

    /* Background Colors */
    --bg-color: var(--color-baby-pink);
    --bg-color-elevated: var(--color-baby-pink-light);
    --bg-color-dark: hsl(225, 25%, 12%);
    --bg-color-dark-elevated: var(--color-charcoal-blue-light);

    /* Text Colors */
    --text-color: var(--color-tree-bark);
    --text-color-muted: hsl(11, 10%, 35%);
    --text-color-dark: hsl(258, 26%, 85%);
    --text-color-dark-muted: hsl(200, 20%, 50%);

    /* Fonts */
    --font-body: "Reddit Sans", sans-serif;
    --font-button: "Reddit Sans", sans-serif;
    --font-heading: "Platypi", sans-serif;
    --font-heading-alt: "Anek Tamil", sans-serif;
    --font-cursive: "Playwrite AU NSW", cursive, serif;

    /* Text Sizes */
    --text-size-base: 1rem; /* 16px */
    --text-size-sm: 0.875rem; /* 14px */
    --text-size-lg: 1.125rem; /* 18px */
    --text-size-xl: 1.25rem; /* 20px */
    --text-size-huge: 3rem; /* 48px */
    --text-size-jumbo: 3.75rem; /* 60px */

    /* Font Sizes */
    --font-size-body: var(--text-size-base);
    --font-size-intro-heading: var(--text-size-xl);
    --font-size-intro-text: var(--text-size-jumbo);
    --font-size-featured-heading: var(--text-size-huge);
    --font-size-featured-text: var(--text-size-xl);
    --font-size-button: 17px;

    /* Border Radius */
    --border-radius-sm: .25rem; /* 4px */
    --border-radius-md: .5rem; /* 8px */
    --border-radius-lg: .75rem; /* 12px */
    --border-radius-xl: 1.5rem; /* 24px */
    --border-radius-2xl: 2rem; /* 32px */

    --border-radius-icon: var(--border-radius-md);
    --border-radius-button: var(--border-radius-lg);
    --border-radius-featured-post: var(--border-radius-xl);
    --border-radius-featured-image: var(--border-radius-2xl);

    /* Border Width */
    --border-width-button: "1.5px";
  }
}

/* Base styles */
@layer base {
  body {
    color: var(--text-color);
    font-family: var(--font-body), sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .dark {
    body {
      color: var(--text-color-dark);
    }
  }
}

*:focus {
  @apply focus:outline-none focus:ring-[2px] focus:ring-[#fc988d] focus:ring-offset-[3px] focus:ring-offset-[#FAE0DB] dark:focus:ring-tropical-indigo dark:focus:ring-offset-[#162025] transition duration-500 ease-in-out-cubic;
}